{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Restaurant{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header>
        <h1>{% block header %}My Restaurant{% endblock %}</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <p>&copy; 2024 My Restaurant</p>
    </footer>
</body>
</html>
